.login {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 100px 0;
}

.login > img {
  object-fit: contain;
  height: 70px;
  margin: 20px 0;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  border-radius: 5px;
  cursor: pointer;
}

.login__register {
  color: #0177b7;
  cursor: pointer;
}

.login > p {
  margin-top: 20px;
}

.flex-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 1em 1em 1em;
}
.flex-icon .circulo {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flex-icon i {
  color: #212121;
  font-size: 1.5rem;
  text-align: center;
}
.flex-icon i {
  color: #6243f7;
  font-size: 1.5rem;
  text-align: center;
}